Django==1.9.4
PyJWT==1.4.0
defusedxml==0.4.1
dj-database-url==0.4.0
gunicorn==19.0.0
oauthlib==1.0.3
psycopg2==2.6.1
-e git+https://github.com/jonobrien/PyCrest.git@f8e4bfa7e5f4f375d782fe0acf477112b1a72f91#egg=pycrest-master
python-dateutil==2.5.1
python-social-auth==0.2.14
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
