<%= form_for(@homepage) do |f| %>
  <% if @homepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homepage.errors.count, "error") %> prohibited this homepage from being saved:</h2>

      <ul>
      <% @homepage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
